.pagination>li>span{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer
}

.pagination>.active>span{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.my-col.col-xs-3{
    padding-left: 0;
}

.my-filters{
    padding-bottom: 10px;
}

.clear{
    clear: both;
}