<ng-container *ngIf="sortDataArray">
  <div [class]="sortCoverClass">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" >Sort By</span>
        </div>
        <ul class="nav navbar-nav">
          <ng-container *ngFor="let sortObj of sortDataArray">
            <li style="-webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;" 
                [class]='sortObj.value ? "active" : ""' 
            (click)="sortValueClicked(sortObj.name)"><a>{{sortObj.label}} <span class='sort-icon'>{{sortObj.value === 'asc' ? '&#9650;' : sortObj.value === 'desc'? '&#9660;' : ''}}</span></a></li>
          </ng-container>
        </ul>
      </div>
    </nav>
  </div>
</ng-container>