
<ngx-unite-sort [sortDataArray]='userSortArray' sortCoverClass='my-sorting-class' (sortChanged)='updateSort($event)'></ngx-unite-sort>

<ngx-unite-list
  [data]="usersData"
  [tableHeaders] = 'usersHeaders'
  [filters] = 'userFilters'
  [searchBox] = 'true'
  (filterChanged) = 'checkFilterChanged($event)'
  (searchButtonsClicked) = 'checkSearchVal($event)'
  table-class = 'table-bordered table'
  searchbox-class = 'col-sm-6'
  filter-class='col-sm-2'
> </ngx-unite-list>

<ngx-unite-pagination
  [totalPages]  = 'userTotalPages'
  [currentPage] = 'userCurrentPage'
  (pageChanged) = 'checkPageChanged($event)'
></ngx-unite-pagination>