<div class="datatable-pagination" *ngIf="_totalPages.length && currentPage">
  <ul class="pagination">
      <li (click)="pageChange('first')"><span>&laquo;</span></li>
      <li (click)="pageChange('prev')"><span>&lsaquo;</span></li>
      <li (click)="pageChange(i)" *ngFor="let page of _totalPages; let i = index" class="{{ i+1 == currentPage ? 'active' : '' }}"><span href="#">{{i + 1}}</span></li>
      <li (click)="pageChange('nxt')"><span>&rsaquo;</span></li>
      <li (click)="pageChange('last')"><span>&raquo;</span></li>
  </ul>
</div>